{% assign site.rawtags = "" %}
{% for post in site.posts %}
  {% assign ttags = post.tags | join:'|' | append:'|' %}
  {% assign site.rawtags = site.rawtags | append:ttags %}
{% endfor %}
{% assign site.rawtags = site.rawtags | split:'|' | sort %}

{% assign site.tags = "" %}
{% for tag in site.rawtags %}
  {% if tag != "" %}
    {% if tags == "" %}
      {% assign tags = tag | split:'|' %}
    {% endif %}
    {% unless tags contains tag %}
      {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %}