---
layout: default
---
<div class="experience">
<h1>Experience</h1>
<hr style="margin-bottom: 1em">
<p> I spent a lot of time trying to make this subway map. I'm still improving on it, but CSS seems to hate me. </p>
<hr style="margin-bottom: 2em; margin-top: 1em;">
<div class="exp-content" style=" width: 100%;">
<ol>
  <li class="blue exp-title" style="margin-bottom: 3em;">Stevens Institute of Technology
    <aside class="exp-description">
    Entered college as a Computer Science major in 2015. <br />
    Graduated in 2019 with a 3.712 GPA and a Mathematics Minor.
  </li>
  <li class="green exp-title" style="margin-bottom: 10em;">Lockheed Martin
    <aside class="exp-description"> My first real exposure to software development. <br />
	As an intern at Lockheed Martin, I was placed on a team to help debug and enhance operational readiness systems for battleship equipment.
	<br />
    In addition to working directly on systems, I was also assigned to implement new features to an internal GUI builder tool. I added a multi-tabbing feature and various QoL features to the tool.
	</aside>
  </li>
  <li class="orange exp-title" style="margin-bottom: 8em;">
  	Broadway Technology
    <aside class="exp-description">Broadway Technology is a small company that engineers trading systems primarily for fixed income and foreign exchange. <br /> I worked here for 2 years, building an e-commerce price publishing gateway and many internal tools for sales, project management, employee time tracking, recruiting, email monitoring, and customer invoicing.</aside>
  </li>
  <li class="red exp-title" style="margin-bottom: 4em;">Bloomberg LP
    <aside class="exp-description">Working in AIM Order Trade Entry. The team validated and enriched the user entry data for AIM, Bloomberg's buyside trading product.</aside>
  </li>
  <li class="purple exp-title" style="margin-bottom: 5em;">maybe your company
    <aside class="exp-description">probably a lot of stuff</aside>
  </li>
</ol>
	
</div>

</div>
