---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <hr />
  <!-- Featured Post -->
  {%- if site.featured_post and site.posts.size > 0 -%}
  <h2 style="margin-top: 1em; margin-bottom: 0.5em">Featured Post: Read 'em all
  <!-- {% assign fpost = site.posts | last %} -->
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  <!-- <span class="post-meta">{{ fpost.date | date: date_format }}</span> -->

  <!-- <span class="post-meta" style="display:inline;">{{ fpost.date | date: date_format }}</span> -->
  </h2>
  <h2> <a class="post-link" href="{{ fpost.url | relative_url }}" style="margin-left: 1em;">
    {{ fpost.title | escape }}
  </a> </h2>
    <h4 style="margin-bottom: 3em; margin-left: 1.5em">
    {%- if site.show_excerpts -%}
      {{ fpost.excerpt }}
    {%- endif -%}
    </h4>
  </h2>

  
  {%- endif -%}
  <hr />
  {%- if site.posts.size > 0 -%}
    <div style="display: flex; margin-top: 1em;">
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <span style="flex: 50%; margin-left: 5%; margin-right: 5%; margin-top: 0.65em; margin-bottom: 1em;">{% include alltags.html %}</span>
    </div>
    <!-- Posts -->
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>