---
layout: default
---
<div class="post">
<h1>Tag: {{ page.tag }}</h1>
<hr style="margin-bottom: 2em">
<ul class="post-list">
{% for post in site.tags[page.tag] %}
	<time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ post.date | date: date_format }}
      </time><br>
  <li><a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
    {{ post.excerpt }}
  </li>
{% endfor %}
</ul>
</div>
